* {
    padding: 0;
    margin: 0;
}

.topPart{
	border-radius: 5px;


}

#bigName{
	font-style: bold;
}

#comparison{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 0 auto;
    background-color: #77dfec;
}