* {
    padding: 0;
    margin: 0;
}

.topPart{
	border: 1px solid black;
}

#cityFromId{
	border: 1px;
	border: 1px solid blue;
}

#cityToId{
	border: 1px solid green;
}

input{
	height: 50px;
	margin: auto;
}

.culturalIndex{
	border: black 2px solid;
	height: 200px;
}

#bigName{
	font-style: bold;
	font-family: sans-serif;
	font-size: 4em;
}

#comparison{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 0 auto;
    background-color: #77dfec;
}